:root {
    --itl-red: #e83421;
    --itl-white: #e9e5e2;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 100vh;
    background: #fafafa;
}

#share-btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
    cursor: pointer;
}